
$border-color:#b68d4c;
$header-text-color: brown;
$font-family: monospace;
$diamond-image-url: url(diamond.png);
$question-image-url: url(question.png);
$arrow-image-top: url(arrow-top.png);
$arrow-image-bottom: url(arrow-bottom.png);
$arrow-image-left: url(arrow-left.png);
$arrow-image-right: url(arrow-right.png);
$arrow-image-top-left: url(arrow-top-left.png);
$arrow-image-top-right: url(arrow-top-right.png);
$arrow-image-bottom-left: url(arrow-bottom-left.png);
$arrow-image-bottom-right: url(arrow-bottom-right.png);