@import 'theme.scss';

body {
  font-family: $font-family;
}
.box, .user-data {
  display: flex;
    flex-wrap: wrap;
    width: 42vw;
    margin: auto;
}

.cell {
    height: 4.5vw;
    margin-bottom: .2vw;
    margin-right: .2vw;
    &.diamond-image {
      background-image: $diamond-image-url; 
      background-size: contain;
    }
    
    &.question-image {
      background-image: $question-image-url; 
      background-size: contain;
      cursor: pointer;
    }
    
    &.arrow-right {
      background-image: $arrow-image-right;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-top {
      background-image: $arrow-image-top;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-left {
      background-image: $arrow-image-left;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-bottom {
      background-image: $arrow-image-bottom;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-bottom-right {
      background-image: $arrow-image-bottom-right;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-bottom-left {
      background-image: $arrow-image-bottom-left;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-top-right {
      background-image: $arrow-image-top-right;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &.arrow-top-left {
      background-image: $arrow-image-top-left;
      background-size: 69% !important;
        background-repeat: no-repeat;
        background-position: center;
    }
}



.box > * {
  flex: 1 1 4.5vw;
  border: 1px solid $border-color;
}

.header {
    text-align: center;
    color: $header-text-color;
    font-family: monospace;
}

.content-right {
  width: 50%;
  text-align: right;
}

.content-left {
  width: 50%;
}

.font-1 {
  text-align: center;
    margin: 8px 0 0 0;
    font-size: $font-size-m;
}

button {
  font-size: $font-size-s;
  background: $button-color;
  border: 1px solid;
  margin-bottom: 3px;
  cursor: pointer;
}
