<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
    
  </head>
  <body>
    <div id="container">
      <header>
        <h1 class="header">Diamond Sweeper</h1>
      </header>
      <section>
        <div class="user-data">
          <div class="content-left">
            <button id="getHint">HINT</button>
            <button id="undoChanges">UNDO</button>
          </div>
          <div class="content-right">
            <span class="">Score: </span>
            <span class="score-value"></span>
          </div>
        </div>
        <div class="box">

        </div>
        <div class="font-1">
          <span>Number of diamonds found </span> <span id="diamondScore"></span>
        </div>
      </section>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>

<script type="text/javascript" src="/assets/script.js"></script>
